@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --bg-body: #242a32;
    --color-primary: #131219;
    --text-color:#f4f3f3;
    --text-form: #92929D;
    --start-yellow: #FFBB3A;
}
html, body
{
    background-color:white;
}
.container-butão-login button{
    background-color: rgb(16, 16, 210);
    color: white;
    padding: 5px;
    width: 320px;
    align-items: flex-end;
    justify-content: flex-end;
    border: solid 2px rgb(16, 16, 210);
}
.container-butão-login{
    padding: 50px;
}
.container-butão-login h5{
    padding: 15px;
    height: 15px;
    width: 50%;
    margin-left: 75px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.container-butão-login2 button{

    background-color: rgb(16, 16, 210);
    color: white;
    padding: 5px;
    width: 320px;
    align-items: flex-end;
    justify-content: flex-end;
    border: solid 2px rgb(16, 16, 210);
}
.container-butão-login3 button{
        
    background-color: rgb(16, 16, 210);
    color: white;
    padding: 5px;
    width: 320px;
    align-items: flex-end;
    justify-content: flex-end;
    border: solid 2px rgb(16, 16, 210);
}
.container-butão-login2 {
    padding: 20px;
  
    
}
.container-butão-login3 {
    padding: 20px;
   
    
}
.user-description{
    padding: 20px;
    width: 360px;
    align-items: flex-end;
    justify-content: flex-end;
}
.circulo{
    padding: 50px;
    width: 100px;
    height: 100px;
    background: white;
    border: 2px solid black ;
    border-radius: 50%;
}
.imagem{
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateY(-30%);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #131219;
 
}